:root {
  --text-light: #ffffff;
  --text-dark: #4f378b;
  --text-darker: #1d1b20;
  --background-light: #fef7ff;
  --background-dark: #6750a4;
  --outline: #79747e;
  --border-radius: 30px;
  --font-family: "Courier New", Courier, monospace;
}

body {
  background-color: var(--background-dark);
  font-family: var(--font-family);
}
header {
  margin: 20px;
  color: var(--text-light);
}

.menu-button {
  color: var(--text-darker);
  background-color: var(--background-light);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;

  margin-top: 5px;
  margin-bottom: 10px;
  border-color: var(--outline);
  a {
    text-decoration: none;
  }
}

.menu-button:hover {
  background-color: #e6e0e9;
}

h2,
h3 {
  font-size: 24px;
  color: var(--text-dark);
}

p {
  font-size: 16px;
}

a,
article a,
a:visited {
  color: var(--text-darker);
}

article {
  background-color: var(--background-light);
  color: var(--text-darker);
  /*border-radius: var(--border-radius);*/
  border-style: outset;
  border-color: var(--outline);
  margin: 15px;
  padding-bottom: 2px;
  padding-top: 1px;
  padding-left: 22px;
}

footer,
footer a:visited {
  color: var(--text-light);
  margin: 20px;
}

.top-radius {
  /*border-top-left-radius: var(--border-radius);*/
  border-top-right-radius: var(--border-radius);
}

.bottom-radius {
  border-bottom-left-radius: var(--border-radius);
  /*border-bottom-right-radius: var(--border-radius);*/
}
